# -------------------------------------------------
# Required by ALIMERCA
#
# urllib3:  user-friendly HTTP client for Python
#           Required-by: requests, selenium
#           venv with urllib3 2.0.4   (Before 20230731)
#           venv with urllib3 1.26.12 (Now)
#
# selenium:
#           Requires: certifi, trio, trio-websocket, urllib3
#           venv selenium==3.141.0 (Before 20230807)
#           venv selenium==4.11.12 (20230807)
#
# selenium==3.141.0
# pandas         : data analysis toolkit
# prettyconf     : library created to make easy the separation of configuration and code.

pandas
prettyconf
urllib3==1.26.12
selenium==4.11.2

# -----------------
# Required by VITUR
#
# beautifulsoup4 : library that makes it easy to scrape information from web pages.
# logzero        : logging for Python 2 and 3.
# lxml           : binding for the libxml2 and libxslt libraries.
#                : provides access to these libraries using the ElementTree API.
#                : No sirve para las páginas web por lxml.etree.XMLSyntaxError
# pytest         : write small, readable tests.
# pyyaml         : a complete YAML 1.1 parser
# request        : allows you to send HTTP/1.1 requests
# selenium       : bindings for Selenium WebDriver.
#                  Automate web browser interaction from Python
# tqdm           : Show progress bar
# typer          : intended to be the FastAPI of CLIs.
# user_agent     : generating random, valid web user agents

beautifulsoup4
logzero
lxml
pytest
pyyaml
requests
tqdm
typer
user_agent

